<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.css">
    {% block title %}
    <title>码农想种地 - 记录生活和技术的点滴,在码农的世界里,做一只勤劳的小蜜蜂</title>
    {% endblock title %}
    <meta name="baidu-site-verification" content="VTXWBGNPJv"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block meta %}
    <meta name="keywords" content="码农想种地,技术博客,python,java,sql,linux,互联网,web开发,flask,sqlalchemy"/>
    <meta name="description"
          content="资浅互联网攻城狮,搞过Java,python,数据库,也搞过js,bootstrap,总之,我就是块砖,哪里需要哪里搬,自己搭建这个博客,来记录码农的点点滴滴,博客名字就叫做：码农想种地,确实,我想有块自己的地,种点花花草草,这个世道,也就花花草草还能一尘不染吧"/>
    {% endblock meta %}
    <style>
        p {font-size:18px; }
        body {font-size:16px;}
        img{
        max-width:780px;
        width:expression(document.body.clientWidth > 780? "780px": "auto" );
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">首页</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="rows">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item text-center">
                    <img src="http://7xiego.com1.z0.glb.clouddn.com/static/imagekakaxi.jpg" alt="头像"
                         class="img-circle" style="width: 120px; height: 120px;">

                    <h1>码农想种地</h1>
                    <h4>技术学习与分享</h4>
                    <h5>低调做人</h5>
                    <h5>认真做事</h5>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                    文章分类
                </li>
                {% for category in categories %}
                <li class="list-group-item">
                    <span class="badge">{{category.count}}</span>
                    <a href='/category/{{category.name}}/1'>{{category.name}}</a>
                </li>
                {% endfor %}
            </ul>
            <!-- 多说热评文章 start -->
            <div class="ds-top-threads" data-range="daily" data-num-items="5"></div>
            <!-- 多说热评文章 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
            var duoshuoQuery = {short_name:"trytofix"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';ds.async = true;
                    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0]
                     || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
                </script>
            <!-- 多说公共JS代码 end -->
        </div>
        <div class="col-md-9">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</div>
<div class="text-center">
    <hr/>
    <p class="text-warning">平凡但不平庸 - 码农想种地</p>

    <p class="text-info">
        <small>Powered by Flask</small>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256626955'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256626955%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));



        </script>
    </p>
</div>
</body>
</html>
