<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.css">
    {% block title %}
    <title>try to fix -解决问题的过程就是成长的过程</title>
    {% endblock title %}
    <meta name="baidu-site-verification" content="VTXWBGNPJv"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block meta %}
    <meta name="description" content="技术博客,python,java,sql,linux,互联网,web开发,flask"/>
    {% endblock meta %}
    <style>
        p {font-size:18px; word-wrap: break-word;word-break: break-all;}
        body {font-size:16px;}
        img{
        max-width:780px;
        width:expression(document.body.clientWidth > 780? "780px": "auto" );
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="rows">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item text-center">
                    <img src="http://7xiego.com1.z0.glb.clouddn.com/static/image/touxiang.jpg" alt="头像"
                         class="img-circle" style="width: 120px; height: 120px;">

                    <p>努力的Coder</p>

                    <p><span class="label label-info">好记性不如烂笔头</span></p>

                    <p><span class="label label-success">互联网打工小弟</span></p>

                    <p><span class="label label-success">喜欢挑战</span></p>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                    文章分类
                </li>
                {% for category in categories %}
                <li class="list-group-item">
                    <span class="badge">{{category.count}}</span>
                    <a href='/category/{{category.name}}/1'>{{category.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</div>
<div class="text-center">
    <hr/>
    <p class="text-warning">做一个平凡而不平庸的人</p>

    <p class="text-info">
        <small>Powered by Flask</small>
        <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256626955'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1256626955%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </p>
</div>
</body>
<script>
	(function(){
	    var bp = document.createElement('script');
	    bp.src = '//push.zhanzhang.baidu.com/push.js';
	    var s = document.getElementsByTagName("script")[0];
	    s.parentNode.insertBefore(bp, s);
	})();

</script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://lib.sinaapp.com/js/bootstrap/v3.0.0/js/bootstrap.min.js"></script>
</html>
