{% extends 'base.html' %}
{% block title %}
<title>{{ article.title }}</title>
{% endblock title %}
{% block meta %}
<meta name="keyword" content="{{article.title}}"/>
<meta name="description" content="{{article.title}}"/>
{% endblock meta %}
{% block body %}
<h1>{{article.title}}</h1>
<h5>作者:{{article.author}} - 发表时间:{{article.create_time}}</h5>
<h5>分类:<a href="/category/{{category}}/1/">{{category}}</a></h5>
{{ article.content|safe }}
<div class="bdsharebuttonbox"><a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a><a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_more" data-cmd="more"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"24"},"share":{},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["evernotecn","youdao","tsina","qzone","renren","weixin","tieba"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<hr>
{% if pre_article.title != None %}
<p><small>上一篇:<a href="../{{pre_article.id}}">{{ pre_article.title}}</a></small></p>
{% endif %}
{% if next_article.title != None %}
<p><small>下一篇:<a href="../{{next_article.id}}">{{ next_article.title}}</a></small></p>
{% endif %}
{% endblock body %}
